<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu Admin</ion-title>
        </ion-toolbar>
      </ion-header>

      <div class="user-profile ion-padding">
        <ion-avatar>
          <img [src]="userAvatar || 'assets/4792944.png'" alt="avatar">
        </ion-avatar>
        <h2>{{ userEmail }}</h2>
        <p>Administrador</p>
      </div>

      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item button (click)="logout()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Sair</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <div class="ion-page" id="main-content">
      <ion-header *ngIf="!isDesktop">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button>
              <ion-icon name="menu-outline"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
          <ion-title>CPonto</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </div>
  </ion-split-pane>
</ion-app>
