<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="isAuthenticated">
      <!-- <ion-header  mode="ios">
        <ion-toolbar mode="ios">
          <ion-title>Menu Admin</ion-title>
          <ion-buttons slot="end">
            <app-theme-toggle></app-theme-toggle>
          </ion-buttons>
        </ion-toolbar>
      </ion-header> -->

      <div class="user-profile ion-padding">
        <ion-avatar>
          <img [src]="userAvatar || 'assets/avatar-placeholder.svg'" alt="avatar">
        </ion-avatar>
        <h2>{{ userEmail }}</h2>
        <p>Administrador</p>
        <app-theme-toggle></app-theme-toggle>
      </div>

      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item button (click)="logout()" lines="none" class="logout-item">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Sair</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <!-- Ocultando o header na página de login -->
      <ion-header *ngIf="!isDesktop && !isLoginPage" class="mobile-header">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button class="visible-menu-button">
              <ion-icon name="menu-outline"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
            <ion-title>CPonto</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-router-outlet id="main-content"></ion-router-outlet>
    </div>

  </ion-split-pane>
</ion-app>
